body {
  background-color: #D0E7D2;
  margin: 0;
  padding: 0;
  background-image: url('WebImages/Image.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 10;
}

@media (max-width: 1200px) {
  body {
    background-image: url('WebImages/Image-Large.jpeg') !important;
  }
}

@media (max-width: 768px) {
  body {
    background-image: url('WebImages/Image-Small.jpeg') !important;
    background-size: cover;
    background-position: center center;
    background-attachment:fixed;
  }

  footer {
    position: relative;
    margin-top: 10vh;
  }

  #CompanyName {
    display: none !important;
  }

  #CompanyLogo {
    width: 25% !important;
  }
  
  #Copyright {
    margin: 0% 10% !important;
  }

  #Social {
    margin: auto !important;
  }

  .FooterCommon {
    display: block !important;
  }

  #Motto {
    height: 75vh !important;
  }
}

#Navigation {
  background-color:rgba(19,19,19,0.5) !important;
  z-index: 10;
  width: 100%;
}

#Company {
  width: 45%;
}

#CompanyLogo {
  color-scheme: only light !important;
  width: 6.5%;
  object-fit: cover;
  margin: 0% 3% 0% 7.5%;
  opacity: 1 !important;
}

#CompanyName {
  font-size: 1.5rem;
  display: inline;
  opacity: 1 !important;
}

#NavigationSites {
  margin-left: auto;
  margin-right: 15%;
}

.NavigationSpacing {
  margin: 0% 0% 0% 3%;
}

.NavigationFont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #FFFBF5 !important;
  width: 100%;
}
  
.NavigationFont {
  &.active, &.show, &.visted, &.hover, &.focus {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #FFFBF5 !important;
  }
}

.NavigationActive {
  font-weight: bold;
}

#LandingImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#LandingImageMask {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.2;
  width: 100%;
  height: 100vh;
  z-index: 3;
  background-color: #0F0F0F;
}

#Motto {
  position: relative;
  width: 75%;
  height: auto;
  z-index: 5;
  padding : 15% 0% 0% 10%;
  color: #FFFFFF;
}

#MottoLine {
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 3.5rem;
  z-index: 6;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  
}

#MottoSubline {
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 2rem;
  z-index: 6;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

#Footer {
  position: relative;
  background-color:rgba(19,19,19,1) !important;
  z-index: 10;
  padding: 2vh 0%;
}

.FooterCommon {
  display: inline;
  text-align: center;
  width: auto;
  height: auto;
}
  
.SocialIcons {
  margin: 0% 0.5%;
}
  
.SocialImage {
  color-scheme: only light !important;
  height: 35px;
  width:  35px;
}

#Copyright {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #FFFBF5 !important;
  font-size: 1rem;
  margin-left: 10%;
}

#Social {
  margin-left: 10%;
}