body {
  background-color: var(--S-Background);
}

main {
  background-color: var(--S-Background);
}

section {
  margin-top: 5vh;
  margin-bottom: 5vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@media (max-width: 768px) {
  #BigLogo {
    width: 35vh !important;
  }

  #Summary {
    padding: 0 10% !important;
  }
  
  .SponserLogo {
    height: auto !important;
    width: 30vh !important;
  }

  .DirectorPhoto {
    height: auto !important;
    width: 25vh !important;
  }
}

#Company-Title {
  background-color: var(--S-SectionMain);
}

#AboutUs {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
}

#Summary {
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0;
}

#Questions {
  font-size: 0.9rem;
  margin-top: 2vh;
  margin-bottom: 0.25vh;
  color: var(--S-TextSub);
}

#About {
  font-size: 2.5rem;
  margin-bottom: 1.75vh;
  color: var(--S-TextMain);
}

#Description {
  font-size: 1rem;
  margin-bottom: 3vh;
  color: var(--S-TextSub);
  font-weight: 400;
}

#BigLogoBox {
  padding: 5vh 0;
}

#BigLogo {
  color-scheme: only light !important;
  height: auto;
  width: 50vh;
}

#Company-Description {
  background-color: var(--S-SectionSub);
}

#Details {
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0% 10%;
  text-align: justify;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: var(--S-SectionSub);
  color: var(--S-TextMain);
}

#Company-Incubators {
  background-color: var(--S-SectionMain);
}

#Sponsers {
  font-size: 2rem;
  color: var(--S-TextMain);
  padding: 2vh 0;
}

#SponserBox {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--S-TextMain);
  margin: 0;
}

.SponserLogoBox {
  padding: 1vh 0;
  font-size: 1rem;
}

.SponserLogo {
  color-scheme: only light !important;
  height: 40vh;
  width: auto;
}

#Company-Directors {
  background-color: var(--S-SectionSub);
}

#Directors {
  font-size: 2rem;
  color: var(--S-TextMain);
  padding: 2vh 0;
  background-color: var(--S-SectionSub);
  margin: 0;
}

#DirectorsBox {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  background-color: var(--S-SectionSub);
}

.DirectorPhoto {
  color-scheme: only light !important;
  border-radius: 100%;
  height: 30vh;
  width: auto;
}

.DirectorName {
  font-size: 1.25rem;
  color: var(--S-TextMain);
  padding-top: 1vh;
}

.DirectorPost {
  font-size: 0.85rem;
  color: var(--S-TextSub);
  padding-bottom: 3vh;
  font-weight: 400;
}

#Company-Directors {
  margin-bottom: 0;
}